.autocomplete-suggestions {
    background: #FFFFFF;
    box-shadow: 0px 3px 5px #403a3a;
    border-radius: 0px 0px 10px 10px;
}
.autocomplete-suggestions div{
    cursor: pointer;
    padding: 5px 10px;
}
.autocomplete-suggestions div:hover{
    background: #00caff;
    box-shadow: 0px 0px 8px #575252;
}
.autocomplete-suggestions div:last-child{
    border-radius: 0px 0px 10px 10px;
}

.error{
    color:red;
    font-weight: 500;
}